/* Lost the first version of the css file. Didn't saved it on GitHub. */
.body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: azure;
}

.foto {
    width: 50%;
    height: 50%;
    /* Vormgeving met aspect ratio, 3/2 geeft de verhouding weer */
    aspect-ratio:3/2 ;
    /* afbeelding importeren via src image is niet gelukt.  */
    <img> src: "C:\Users\Yolan\OneDrive\Desktop\Vintage.jpg";
}